/dist
/delvewheel.egg-info
/build
__pycache__/
wheelhouse/
.idea/
.vs/
*.vcxproj.user
/tests/wheelhouse*
/tests/temp
/tests/simpleext/build/simpledll/Win32
/tests/simpleext/build/simpledll/x64
/tests/simpleext/build/simpledll/simpledll
/tests/simpleext/build/build
/tests/simpleext/build/simpleext.egg-info
/tests/simpleext/build/dist
/dll_lists/ignore_names_*
/sandbox.py
/venv
