/dist
/delvewheel.egg-info
__pycache__/
wheelhouse/
.idea/
.vs/
*.vcxproj.user
/tests/wheelhouse*
/tests/temp
/tests/simpleext/build/simpledll/x64
/tests/simpleext/build/simpledll/Release
/tests/simpleext/build/build
/tests/simpleext/build/simpleext.egg-info
/tests/simpleext/build/dist
/dll_lists/ignore_names_*
